{% extends "base.html" %}

{% block content %}
{% include "navbar.html" %}
<h1>Applications</h1>
<table>
    <table style="width: 50%; margin: 50px;">
        <tr style="color: #ccc; font-size: 12px;">
            <td>JOB TITLE</td>
            <td>EMAIL</td>
            <td>ACCURACY SCORE</td>
            <td>CV</td>
            <td>SUMMARY</td>
        </tr>
    </table>
    {% for posting in results %}
    <table style="width: 100%; margin: 50px;">
        <tr style="color: #ccc; font-size: 12px;">
            <td style="margin: 20px;">{{ posting.job_title }}</td>
            <td>{{ posting.email }}</td>
            <td>{{ posting.score * 100}}%</td>
            <td><a href="/download/{{ posting.cv_filename }}">{{ posting.cv_filename }}</a></td>
            <td>{{ posting.ai_summary }}</td>
        </tr>
    </table>
    {% endfor %}
</table>
{% endblock %}
