{% extends "base.html" %}
{% block title %}Swiping Card{% endblock %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

<style>

#no-jobs-left {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    color: white;
    width: 220px;
}
#falling_window {
    position: absolute;
    z-index: 100;
    top:-100%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out;
}
#falling_window_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

</style>

<div class="tinder">
    <div class="tinder--status">
        <i class="fa fa-remove"></i>
        <i class="fa fa-heart"></i>
    </div>

    <div class="tinder--cards">

        {% for listing in listings %}
        {% if loop.index > 1 %}
            <div class="tinder--card" id="card-{{ loop.index }}" onmouseover="showFallingWindow()">
        {% else %}
            <div class="tinder--card" id="card-{{ loop.index }}">
        {% endif %}
            <section class="listing-main-info">
                <img src="data:image/jpeg;base64,{{ listing.image }}" alt="">
                <h1>{{ listing.company }}</h1>
                <h3>{{ listing.title }}</h3>
                <h2>{{ listing.lower }}zł - {{ listing.upper }}zł</h2>

            </section>

            <hr class="hr-line">
             <section class="listing-additional-info">
                <p>🗺Location: {{ listing.location }}</p>
                <p>🛣Distance {{ listing.distance }}</p>
<!--maybe tech stack here-->
                <p>🏙️Operating mode: {{ listing.mode }}</p>
                <a href="#" style="text-decoration: none; font-weight: bold; font-size: 20px">Read more</a>
              </section>

        </div>

        {% endfor %}
        <div class="message" id="message">APPLIED</div>
        <h2 id="no-jobs-left"> No more job offers to show</h2>



    </div>


    <div id="falling_window">
        <h1>
            Thank you for your interest. To apply more you need to register first.
        </h1>
        <form method="get" id="falling-window-form" action="embed_register?email=document.getElementById('email').value">
            <label for="email">Type in your email address</label>
            <input type="email" name="email" id="email">
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="tinder--buttons">
        <button id="nope"><i class="fa fa-remove"></i></button>
        <button id="love"><i class="fa fa-heart"></i></button>
    </div>
</div>

    <div id="falling_window">
        <h1>
            You need to register to apply more
        </h1>
        <form method="post" id="falling-window-form">
            <label for="email">Type in your email address</label>
            <input type="email" name="email" id="email">
            <button type="submit">Submit</button>
        </form>
    </div>
<script>
    'use strict';

    function showFallingWindow() {
        console.log("clicked")
        document.getElementById("falling_window").style.transition = "opacity 0.3s ease-in-out";

        document.getElementById("falling_window").style.top = "0";
    }

    var message = document.getElementById("message");
    var tinderContainer = document.querySelector('.tinder');
    var allCards = document.querySelectorAll('.tinder--card');
    var nope = document.getElementById('nope');
    var love = document.getElementById('love');

    function initCards(card, index) {
      var newCards = document.querySelectorAll('.tinder--card:not(.removed)');
      newCards.forEach(function (card, index) {
          card.style.zIndex = allCards.length - index;
          card.style.transform = 'scale(' + (20 - index) / 20 + ') translateY(-' + 30 * index + 'px)';
      });
      tinderContainer.classList.add('loaded');
    }

    initCards();



    allCards.forEach(function (el) {
      var hammertime = new Hammer(el);
      hammertime.on('pan', function (event) {
        el.classList.add('moving');
        if (event.deltaX === 0) return;
        if (event.center.x === 0 && event.center.y === 0) return;

        tinderContainer.classList.toggle('tinder_love', event.deltaX > 0);
        tinderContainer.classList.toggle('tinder_nope', event.deltaX < 0);

        var xMulti = event.deltaX * -0.03;
        var yMulti = Math.abs(event.deltaY) / -8;
        var rotate = xMulti * -1;

        event.target.style.transform = 'translate(' + event.deltaX + 'px, ' + 0 + 'px) rotate(' + rotate + 'deg)';

        var keep = Math.abs(event.deltaX) < 100;

        if (!keep) {
            if (event.deltaX < 0) {
                var redIntensity = Math.max((255 - Math.min(Math.abs(event.deltaX) / 5, 255)) * 1.2, 100);
                event.target.style.background = 'rgb( 255, ' + redIntensity + ', ' + redIntensity + ')';
            } else {
                var greenIntensity = Math.max((255 - Math.min(Math.abs(event.deltaX) / 5, 255)) * 1.2, 170);
                event.target.style.background = 'rgb(' + greenIntensity +  ', 255, ' + greenIntensity + ')';
            }

        } else {
            event.target.style.background = 'white';
        }


      });

      hammertime.on('panend', function (event) {
          el.classList.remove('moving');
          tinderContainer.classList.remove('tinder_love');
          tinderContainer.classList.remove('tinder_nope');

          var moveOutWidth = document.body.clientWidth;
          var keep = Math.abs(event.deltaX) < 320;

          event.target.classList.toggle('removed', !keep);

          if (keep) {
              event.target.style.background = 'white';
              event.target.classList.add('move-animation');
              event.target.style.transform = '';

          } else {
              var endX = Math.max(Math.abs(event.velocityX) * moveOutWidth, moveOutWidth);
              var toX = event.deltaX > 0 ? endX : -endX;
              var endY = Math.abs(event.velocityY) * moveOutWidth;
              var toY = event.deltaY > 0 ? endY : -endY;
              var xMulti = event.deltaX * 0.03;
              var yMulti = event.deltaY / 80;
              var rotate = xMulti * yMulti;
              event.target.style.transition = 'transform 0.3s ease-in-out'; // Dodanie animacji CSS
              setTimeout(function () {
                  event.target.style.transform = 'translate(' + toX + 'px, ' + (toY + event.deltaY) + 'px) rotate(' + rotate + 'deg)';
              }, 0); // Opóźnienie transformacji
              if (event.deltaX > 320) {
                  console.log("dupa");
                  message.style.display = 'block';
                  setTimeout(function () {
                      message.style.display = 'none';
                  }, 800); // Opóźnienie transformacji
              }

              initCards();
          }
      });

    });

    function createButtonListener(love) {
      return function (event) {
        var cards = document.querySelectorAll('.tinder--card:not(.removed)');
        var moveOutWidth = document.body.clientWidth * 1.5;

        if (!cards.length) return false;

        var card = cards[0];

        card.classList.add('removed');

        if (love) {
          card.style.transform = 'translate(' + moveOutWidth + 'px, -100px) rotate(-30deg)';
        } else {
          card.style.transform = 'translate(-' + moveOutWidth + 'px, -100px) rotate(30deg)';
        }

        initCards();

        event.preventDefault();
      };
    }

    var nopeListener = createButtonListener(false);
    var loveListener = createButtonListener(true);

    nope.addEventListener('click', nopeListener);
    love.addEventListener('click', loveListener);

    function showMessage(message, duration) {
    // Utwórz element div dla wiadomości
    var messageDiv = document.createElement('div');
    messageDiv.classList.add('message');
    messageDiv.innerText = message;

    // Dodaj wiadomość do kontenera na stronie
    document.getElementById('messageContainer').appendChild(messageDiv);

    // Ustaw widoczność wiadomości
    messageDiv.style.display = 'block';

    // Po upływie czasu usuń wiadomość
    setTimeout(function() {
        messageDiv.style.display = 'none';
        messageDiv.remove();
    }, duration);
}

</script>

{% endblock %}

