{% block content %}

<div class="tinder">
    <div class="swiping-card" id="swipingCard">
        <section>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTO6McYCz5dm8b2z0mDBfi7IpSG-yXX9CnT5NVJuFwug&s" alt="">
            <h1>Example Tech Inc.</h1>
        </section>

        <section>
            <h4>Listed Position</h4>
            <p>Software Engineer</p>
        </section>

        <section>
            <h4>Required Experience</h4>
            <p>3 years</p>
        </section>

        <section>
            <h4>Required Education</h4>
            <p>Bachelor's degree in Computer Science</p>
        </section>

        <section>
            <h4>Salary</h4>
            <p>$100,000 per year</p>
        </section>

        <section>
            <h4>City</h4>
            <p>San Francisco</p>
        </section>
    </div>
</div>

<div class="buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
</div>

<script>
    'use strict';

    var swipingCard = document.getElementById('swipingCard');
    var nope = document.getElementById('nope');
    var love = document.getElementById('love');

    var hammertime = new Hammer(swipingCard);

    hammertime.on('pan', function (event) {
        swipingCard.classList.add('moving');
    });

    hammertime.on('pan', function (event) {
        if (event.deltaX === 0) return;
        if (event.center.x === 0 && event.center.y === 0) return;

        swipingCard.classList.toggle('tinder_love', event.deltaX > 0);
        swipingCard.classList.toggle('tinder_nope', event.deltaX < 0);

        var xMulti = event.deltaX * 0.03;
        var yMulti = event.deltaY / 80;
        var rotate = xMulti * yMulti;

        swipingCard.style.transform = 'translate(' + event.deltaX + 'px, ' + event.deltaY + 'px) rotate(' + rotate + 'deg)';
    });

    hammertime.on('panend', function (event) {
        swipingCard.classList.remove('moving');
        swipingCard.classList.remove('tinder_love');
        swipingCard.classList.remove('tinder_nope');

        var moveOutWidth = document.body.clientWidth;
        var keep = Math.abs(event.deltaX) < 80 || Math.abs(event.velocityX) < 0.5;

        if (keep) {
            swipingCard.style.transform = '';
        } else {
            var endX = Math.max(Math.abs(event.velocityX) * moveOutWidth, moveOutWidth);
            var toX = event.deltaX > 0 ? endX : -endX;
            var endY = Math.abs(event.velocityY) * moveOutWidth;
            var toY = event.deltaY > 0 ? endY : -endY;
            var xMulti = event.deltaX * 0.03;
            var yMulti = event.deltaY / 80;
            var rotate = xMulti * yMulti;

            swipingCard.style.transform = 'translate(' + toX + 'px, ' + (toY + event.deltaY) + 'px) rotate(' + rotate + 'deg)';
        }
    });

    function createButtonListener(love) {
        return function (event) {
            var moveOutWidth = document.body.clientWidth * 1.5;

            if (love) {
                swipingCard.style.transform = 'translate(' + moveOutWidth + 'px, -100px) rotate(-30deg)';
            } else {
                swipingCard.style.transform = 'translate(-' + moveOutWidth + 'px, -100px) rotate(30deg)';
            }

            event.preventDefault();
        };
    }

    var nopeListener = createButtonListener(false);
    var loveListener = createButtonListener(true);

    nope.addEventListener('click', nopeListener);
    love.addEventListener('click', loveListener);
</script>

{% endblock %}

