{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

<style>
    *, *:before, *:after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }

    .tinder--cards {
      flex-grow: 1;
      padding-top: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      z-index: 1;
    }

    .swiping-card {
        position: relative;
        width: 90vw;
        max-width: 400px;
        height: 600px;
        background-color: #f2f2f2;
        border-radius: 8px;
        box-shadow: 0 0 -10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        cursor: -webkit-grab;
        cursor: -moz-grab;
        cursor: grab;
        margin: auto;
    }

    .swiping-card::-webkit-scrollbar {
        display: none;
    }

    .swiping-card img {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: 1px solid #ccc;
        margin: 20px auto;
    }

    .swiping-card h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }

    .swiping-card section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-top: 1px solid #ccc;
        text-align: center;
    }

    .buttons {
        text-align: center;
        margin-top: 20px;
    }

    .buttons button {
        font-size: 32px;
        cursor: pointer;
        background: none;
        border: none;
        color: #333;
        margin: 0 10px;
    }
    .fa-heart {
      color: #FFACE4;
    }

    .fa-remove {
      color: #CDD6DD;
    }
</style>

<div class="tinder">

    <div class ="tinder--cards">
            <div class="swiping-card" id="swipingCard">
            <section>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTO6McYCz5dm8b2z0mDBfi7IpSG-yXX9CnT5NVJuFwug&s" alt="">
                <h1>Example Tech Inc.</h1>
            </section>

            <section>
                <h4>Listed Position</h4>
                <p>Software Engineer</p>
            </section>

            <section>
                <h4>Required Experience</h4>
                <p>3 years</p>
            </section>

            <section>
                <h4>Required Education</h4>
                <p>Bachelor's degree in Computer Science</p>
            </section>

            <section>
                <h4>Salary</h4>
                <p>$100,000 per year</p>
            </section>

            <section>
                <h4>City</h4>
                <p>San Francisco</p>
            </section>
        </div>
        <div class="swiping-card" id="swipingCard">
            <section>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTO6McYCz5dm8b2z0mDBfi7IpSG-yXX9CnT5NVJuFwug&s" alt="">
                <h1>Example Tech Inc.</h1>
            </section>

            <section>
                <h4>Listed Position</h4>
                <p>Software Engineer</p>
            </section>

            <section>
                <h4>Required Experience</h4>
                <p>3 years</p>
            </section>

            <section>
                <h4>Required Education</h4>
                <p>Bachelor's degree in Computer Science</p>
            </section>

            <section>
                <h4>Salary</h4>
                <p>$100,000 per year</p>
            </section>

            <section>
                <h4>City</h4>
                <p>San Francisco</p>
            </section>
        </div>
    </div>

</div>

<div class="buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
</div>

<script>
    'use strict';

    var swipingCard = document.getElementById('swipingCard');
    var nope = document.getElementById('nope');
    var love = document.getElementById('love');

    var hammertime = new Hammer(swipingCard);

    hammertime.on('pan', function (event) {
        swipingCard.classList.add('moving');
    });

    hammertime.on('pan', function (event) {
        if (event.deltaX === 0) return;
        if (event.center.x === 0 && event.center.y === 0) return;

        swipingCard.classList.toggle('tinder_love', event.deltaX > 0);
        swipingCard.classList.toggle('tinder_nope', event.deltaX < 0);

        var xMulti = event.deltaX * 0.03;
        var yMulti = event.deltaY / 80;
        var rotate = xMulti * yMulti;

        swipingCard.style.transform = 'translate(' + event.deltaX + 'px, ' + event.deltaY + 'px) rotate(' + rotate + 'deg)';

        var keep = Math.abs(event.deltaX) < 100;

        if (!keep) {
            if (event.deltaX < 0) {
                var redIntensity = (255 - Math.min(Math.abs(event.deltaX) / 5, 255)) / 2;
                swipingCard.style.background = 'rgb( 255, ' + redIntensity + ', ' + redIntensity + ')';
            } else {
                var greenIntensity = (255 - Math.min(Math.abs(event.deltaX) / 5, 255));
                swipingCard.style.background = 'rgb(' + greenIntensity +  ', 255, ' + greenIntensity + ')';
            }

        } else {
            swipingCard.style.background = 'white';
        }
    });

    hammertime.on('panend', function (event) {
        swipingCard.classList.remove('moving');
        swipingCard.classList.remove('tinder_love');
        swipingCard.classList.remove('tinder_nope');

        var moveOutWidth = document.body.clientWidth;
        var keep = Math.abs(event.deltaX) < 100 || Math.abs(event.velocityX) < 0.5;

        if (keep) {
            swipingCard.style.transform = '';
            swipingCard.style.background = "white";
        } else {
            var endX = Math.max(Math.abs(event.velocityX) * moveOutWidth, moveOutWidth);
            var toX = event.deltaX > 0 ? endX : -endX;
            var endY = Math.abs(event.velocityY) * moveOutWidth;
            var toY = event.deltaY > 0 ? endY : -endY;
            var xMulti = event.deltaX * 0.03;
            var yMulti = event.deltaY / 80;
            var rotate = xMulti * yMulti;

            swipingCard.style.transition = 'transform 0.3s ease-in-out'; // Dodanie animacji CSS

            setTimeout(function () {
                swipingCard.style.transform = 'translate(' + toX + 'px, ' + (toY + event.deltaY) + 'px) rotate(' + rotate + 'deg)';
            }, 0); // Opóźnienie transformacji


        }
    });

    function createButtonListener(love) {
        return function (event) {
            var moveOutWidth = document.body.clientWidth * 1.5;

            if (love) {
                swipingCard.style.transform = 'translate(' + moveOutWidth + 'px, -100px) rotate(-30deg)';
            } else {
                swipingCard.style.transform = 'translate(-' + moveOutWidth + 'px, -100px) rotate(30deg)';
            }

            event.preventDefault();
        };
    }

    var nopeListener = createButtonListener(false);
    var loveListener = createButtonListener(true);

    nope.addEventListener('click', nopeListener);
    love.addEventListener('click', loveListener);
</script>

{% endblock %}

